table.dataGrid
{
	border-collapse:collapse;
}
table.dataGrid th, table.dataGrid td
{
	border:1px solid grey;
	padding: 0.2em;
}
table.dataGrid .group th
{
	text-transform: uppercase;
}
table.dataGrid .group th,
table.ledgerReport .openingBalance th,
table.ledgerReport .closingBalance th
{
	text-align:left;
	font-weight: normal;
}
table.ledgerReport .openingBalance th,
table.ledgerReport .closingBalance th
{
	padding-top: 1em;
	padding-bottom: 1em;
}
table.dataGrid .line th
{
	text-align:left;
	padding-left: 3em;
	font-weight: normal;
}
.money
{
	text-align:right;
}
